USE [master]
GO
/****** Object:  Database [CoolMate_1]    Script Date: 12/1/2023 11:33:06 PM ******/
CREATE DATABASE [CoolMate_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoolMate_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CoolMate_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoolMate_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CoolMate_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoolMate_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoolMate_1]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 12/1/2023 11:33:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[idChucVu] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[idChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSanPham]    Script Date: 12/1/2023 11:33:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSanPham](
	[idDanhMucSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NULL,
 CONSTRAINT [PK_DanhMucSanPham] PRIMARY KEY CLUSTERED 
(
	[idDanhMucSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 12/1/2023 11:33:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[idGioHang] [int] IDENTITY(1,1) NOT NULL,
	[idKhachHang] [int] NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[idGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHangChiTiet]    Script Date: 12/1/2023 11:33:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangChiTiet](
	[idGioHangChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[idGioHang] [int] NULL,
	[idSanPhamChiTiet] [int] NULL,
	[SoLuong] [int] NULL,
	[GiaSP] [int] NULL,
 CONSTRAINT [PK_GioHangChiTiet] PRIMARY KEY CLUSTERED 
(
	[idGioHangChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaaDon]    Script Date: 12/1/2023 11:33:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaaDon](
	[idHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NULL,
	[idVoucherChiTiet] [int] NULL,
	[MaHoaDon] [varchar](50) NULL,
	[TenUser] [nvarchar](50) NULL,
	[SoDienThoai] [varchar](50) NULL,
	[DiaChi] [varchar](50) NULL,
	[SoLuong] [int] NULL,
	[TongTien] [int] NULL,
	[TrangThai] [int] NULL,
	[NgayTao] [date] NULL,
 CONSTRAINT [PK_HoaaDon] PRIMARY KEY CLUSTERED 
(
	[idHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonChiTiett]    Script Date: 12/1/2023 11:33:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiett](
	[idHoaDonChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[idHoaDon] [int] NULL,
	[idSanPhamChiTiet] [int] NULL,
	[Gia] [int] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_HoaDonChiTiett] PRIMARY KEY CLUSTERED 
(
	[idHoaDonChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mau]    Script Date: 12/1/2023 11:33:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mau](
	[idMau] [int] IDENTITY(1,1) NOT NULL,
	[TenMau] [nvarchar](50) NULL,
 CONSTRAINT [PK_Mau] PRIMARY KEY CLUSTERED 
(
	[idMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamChiTiet]    Script Date: 12/1/2023 11:33:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamChiTiet](
	[idSanPhamChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[idDanhMucSanPham] [int] NULL,
	[idMau] [int] NULL,
	[idSize] [int] NULL,
	[SoLuong] [int] NULL,
	[Anh] [nvarchar](50) NULL,
	[GiaSP] [int] NULL,
	[TrangThai] [int] NULL,
	[TenSanPham] [nvarchar](50) NULL,
 CONSTRAINT [PK_SanPhamChiTiet] PRIMARY KEY CLUSTERED 
(
	[idSanPhamChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamm]    Script Date: 12/1/2023 11:33:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamm](
	[idSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
 CONSTRAINT [PK_SanPhamm] PRIMARY KEY CLUSTERED 
(
	[idSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 12/1/2023 11:33:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[idSize] [int] IDENTITY(1,1) NOT NULL,
	[TenSize] [nvarchar](50) NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[idSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/1/2023 11:33:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[TenUser] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SoDienThoai] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[TrangThai] [int] NULL,
	[idChucVu] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherChiTiet]    Script Date: 12/1/2023 11:33:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherChiTiet](
	[idVoucherChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[idVoucher] [int] NULL,
	[idNguoiDung] [int] NULL,
 CONSTRAINT [PK_VoucherChiTiet] PRIMARY KEY CLUSTERED 
(
	[idVoucherChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucherr]    Script Date: 12/1/2023 11:33:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucherr](
	[idVoucher] [int] IDENTITY(1,1) NOT NULL,
	[TenVoucher] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[ThoiGianBatDau] [date] NULL,
	[ThoiGianKetThuc] [date] NULL,
	[Min] [decimal](18, 0) NULL,
	[Max] [decimal](18, 0) NULL,
	[ThoiGianTao] [datetime] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_Voucherr] PRIMARY KEY CLUSTERED 
(
	[idVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_User] FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[User] ([idUser])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_User]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GioHangChiTiet_GioHang1] FOREIGN KEY([idGioHang])
REFERENCES [dbo].[GioHang] ([idGioHang])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_GioHangChiTiet_GioHang1]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GioHangChiTiet_SanPhamChiTiet1] FOREIGN KEY([idSanPhamChiTiet])
REFERENCES [dbo].[SanPhamChiTiet] ([idSanPhamChiTiet])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_GioHangChiTiet_SanPhamChiTiet1]
GO
ALTER TABLE [dbo].[HoaaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaaDon_User] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([idUser])
GO
ALTER TABLE [dbo].[HoaaDon] CHECK CONSTRAINT [FK_HoaaDon_User]
GO
ALTER TABLE [dbo].[HoaaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaaDon_VoucherChiTiet] FOREIGN KEY([idVoucherChiTiet])
REFERENCES [dbo].[VoucherChiTiet] ([idVoucherChiTiet])
ON UPDATE SET NULL
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaaDon] CHECK CONSTRAINT [FK_HoaaDon_VoucherChiTiet]
GO
ALTER TABLE [dbo].[HoaDonChiTiett]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonChiTiett_HoaaDon1] FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaaDon] ([idHoaDon])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDonChiTiett] CHECK CONSTRAINT [FK_HoaDonChiTiett_HoaaDon1]
GO
ALTER TABLE [dbo].[HoaDonChiTiett]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonChiTiett_SanPhamChiTiet1] FOREIGN KEY([idSanPhamChiTiet])
REFERENCES [dbo].[SanPhamChiTiet] ([idSanPhamChiTiet])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDonChiTiett] CHECK CONSTRAINT [FK_HoaDonChiTiett_SanPhamChiTiet1]
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamChiTiet_DanhMucSanPham1] FOREIGN KEY([idDanhMucSanPham])
REFERENCES [dbo].[DanhMucSanPham] ([idDanhMucSanPham])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SanPhamChiTiet] CHECK CONSTRAINT [FK_SanPhamChiTiet_DanhMucSanPham1]
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamChiTiet_Mau1] FOREIGN KEY([idMau])
REFERENCES [dbo].[Mau] ([idMau])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SanPhamChiTiet] CHECK CONSTRAINT [FK_SanPhamChiTiet_Mau1]
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamChiTiet_Size1] FOREIGN KEY([idSize])
REFERENCES [dbo].[Size] ([idSize])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SanPhamChiTiet] CHECK CONSTRAINT [FK_SanPhamChiTiet_Size1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_ChucVu] FOREIGN KEY([idChucVu])
REFERENCES [dbo].[ChucVu] ([idChucVu])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_ChucVu]
GO
ALTER TABLE [dbo].[VoucherChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_VoucherChiTiet_User] FOREIGN KEY([idNguoiDung])
REFERENCES [dbo].[User] ([idUser])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[VoucherChiTiet] CHECK CONSTRAINT [FK_VoucherChiTiet_User]
GO
ALTER TABLE [dbo].[VoucherChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_VoucherChiTiet_Voucherr] FOREIGN KEY([idVoucher])
REFERENCES [dbo].[Voucherr] ([idVoucher])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[VoucherChiTiet] CHECK CONSTRAINT [FK_VoucherChiTiet_Voucherr]
GO
USE [master]
GO
