<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    @RenderSection("Scripts", required: false)
    <title>Hexashop Ecommerce HTML CSS Template</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/khachhang/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/khachhang/css/font-awesome.css">

    <link rel="stylesheet" href="~/khachhang/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="~/khachhang/css/owl-carousel.css">

    <link rel="stylesheet" href="~/khachhang/css/lightbox.css">

    <!--

    TemplateMo 571 Hexashop

    https://templatemo.com/tm-571-hexashop

    -->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="~/KhachHang" class="logo">
                            <img src="~/khachhang/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="~/KhachHang" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="~/KhachHang/HomeKhachHang/DoHangNgay">Mặc Hằng ngày</a></li>
                            <li class="scroll-to-section"><a href="~/KhachHang/HomeKhachHang/DoTheThao">Đồ Thể Thao</a></li>
                            <li class="scroll-to-section"><a href="~/KhachHang/HomeKhachHang/DoLot">Đồ lót</a></li>
                            <li class="scroll-to-section"><a href="~/KhachHang/HomeKhachHang/DoThuDong">Đồ Mùa Đông</a></li>
                            <li><a class="fa fa-shopping-cart" href="~/KhachHang/HomeKhachHang/GioHangCT"></a></li>
                           
                            

                            
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    ̣@RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="~/khachhang/images/white-logo.png" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">Đại học Điện Lực</a></li>
                            <li><a href="#">Trongquy700@gmail.com</a></li>
                            <li><a href="#">1-12-2023</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>CHÍNH SÁCH</h4>
                    <ul style="color:white">
                        <li>Đổi trả trong 60 ngày</li>
                        <li>Chính sách khuyến mãi</li>
                        <li>Chính sách giao hàng</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>KIẾN THỨC MẶC ĐẸP</h4>
                    <ul style="color:white">
                        <li>Hướng dẫn chọn size</li>
                        <li>About Us</li>
                        <li>>Help</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>VỀ SHOP CỦA HIẾU VÀ QUÝ</h4>
                    <ul style="color: white">
                        <li>Phân chia công việc</li>
                        <li>Câu chuyện chọn đề tài</li>

                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">


                        <p> <br style="color: white">Design: <a href="https://www.facebook.com/Yeukhongphieu?mibextid=LQQJ4d" target="_parent" title="free css templates">Đinh Hiếu</a></p>
                        <ul>
                            <li><a href="https://www.facebook.com/tong.quy.100?mibextid=LQQJ4d"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://instagram.com/trong_quy_07_07?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="~/khachhang/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/khachhang/js/popper.js"></script>
    <script src="~/khachhang/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/khachhang/js/owl-carousel.js"></script>
    <script src="~/khachhang/js/accordions.js"></script>
    <script src="~/khachhang/js/datepicker.js"></script>
    <script src="~/khachhang/js/scrollreveal.min.js"></script>
    <script src="~/khachhang/js/waypoints.min.js"></script>
    <script src="~/khachhang/js/jquery.counterup.min.js"></script>
    <script src="~/khachhang/js/imgfix.min.js"></script>
    <script src="~/khachhang/js/slick.js"></script>
    <script src="~/khachhang/js/lightbox.js"></script>
    <script src="~/khachhang/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="~/khachhang/js/custom.js"></script>

    <script>

        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>